-
	const oDirections = [{
		name: 'Дистрибутор',
		text: 'Представляем 3D&ndash;оборудование и&nbsp;ПО от&nbsp;ведущих мировых производителей'
	},{
		name: 'iQB Lab',
		text: 'Разрабатываем отраслевые решения на&nbsp;базе современных 3D&ndash;технологий'
	},{
		name: 'Учебный центр iQB ',
		text: 'Обучаем специалистов применять 3D&ndash;технологии в&nbsp;профессиональной деятельности '
	},{
		name: 'RP&ndash;центр iQB',
		text: 'Предоставляем услуги 3D&ndash;сканирования, 3D&ndash;моделирования и&nbsp;3D&ndash;печати в&nbsp;нашем центре прототипирования'
	}]

	const oAdv = [{
		num: 50,
		icon: '3d-square',
		name: 'Более 50 реализованных проектов в 20 отраслях'
	}, {
		num: 15,
		icon: '3d-disc',
		name: 'Более 15 принтеров и сканеров в демо-зале'
	}, {
		num: 30,
		icon: '3d-ball',
		name: 'Более 30 экспертов 3D в команде'
	}, {
		num: 7,
		icon: '3d-pyr',
		name: '7 разных технологий  печати'
	}]

	const oNews = [{
		date: '18/04',
		name: 'BMW открывает новую эру в автомобилестроении',
		text: 'На крупнейшей промышленной выставке России 3D-решения впервые были представлены на отдельной площадке. Читайте наш подробный отчет!',
	},{
		date: '18/04',
		name: 'ACADEMIA – новые 3D-сканеры и ПО для образования и науки',
		text: 'Новинка Creaform – это комплект, включающий профессиональные 3D-сканеры, бесплатное интегрированное ПО и дидактические материалы.',
	},{
		date: '18/04',
		name: 'BMW открывает новую эру в автомобилестроении',
		text: 'На крупнейшей промышленной выставке России 3D-решения впервые были представлены на отдельной площадке. Читайте наш подробный отчет!',
	},{
		date: '18/04',
		name: 'ACADEMIA – новые 3D-сканеры и ПО для образования и науки',
		text: 'Новинка Creaform – это комплект, включающий профессиональные 3D-сканеры, бесплатное интегрированное ПО и дидактические материалы.',
	},{
		date: '18/04',
		name: 'BMW открывает новую эру в автомобилестроении',
		text: 'На крупнейшей промышленной выставке России 3D-решения впервые были представлены на отдельной площадке. Читайте наш подробный отчет!',
	},{
		date: '18/04',
		name: 'ACADEMIA – новые 3D-сканеры и ПО для образования и науки',
		text: 'Новинка Creaform – это комплект, включающий профессиональные 3D-сканеры, бесплатное интегрированное ПО и дидактические материалы.',
	}]

section.block.block-home-1
	.container
		h2.head-title.text-center
			|Что мы делаем?

section.block.block-home-2
	.container
		h2.head-title.text-center
			|Почему выбирают нас?
		
	.row
		each item, ind in oAdv 
			.col-xl-3.col-6
				.home-adv
					.home-adv-num
						|!{item.num}
						+i-svg(item.icon)
					h3.home-adv-name
						|!{item.name}
						