footer.footer
	.stages-decor.stages-decor-top
	.container-fluid
		.row
			.col-md-6
				.row
					.col-xl-6
						a.footer-brand(href='/')
							+i-svg('logo')
						p.footer-copy
							|© 2017 на JSC "IQB Technologies" 
							br
							|АО "АЙКЬЮБ Технологии" 
							br
							|Все права защищены.
					
						.d-none.d-xl-block
							p.soc-title Мы в социальных сетях:
							+soc-list()

					.col-xl-6
						nav.footer-nav.mt-4
							ul
								li
									a(href='javascript:void(0)') Отрасли применения 3D&ndash;технологий
								li
									a(href='javascript:void(0)') Каталог 3D&ndash;оборудования и ПО
								li
									a(href='javascript:void(0)') Технологические решения
								li
									a(href='javascript:void(0)') О компании

						a.more-link(href='javascript:void(0)')
							.row-icon 
								+i-svg('more-circle')
								span Спецпредложения

						.d-none.d-md-block.d-xl-none
							p.soc-title Мы в социальных сетях:
							+soc-list()

			.col-md-6
				.row
					.col-xl-6
						a.icon-blog-link(href='javascript:void(0)')
							.row-icon
								+i-svg('blog')
								span Блог 3D&ndash;экспертов

						form.form.form-subscribe
							input.form-control(type='email' placeholder='Ваш e-mail')
							button.btn.btn-block.btn-light(type='submit') подписаться на блог

					.col-xl-6
						address.inbar-address 
							a(href='tel:+7(499)3800791') +7 (499) 380-07-91
							br
							a(href='mailto:in@iqdtech.ru') in@iqdtech.ru

						nav.footer-nav.mb-4
							ul
								li
									a(href='javascript:void(0)') Политика конфиденциальности
								li
									a(href='javascript:void(0)') FAQ
								li
									a(href='javascript:void(0)') Словарь 3D-терминов

						.lng-swith
							.row-icon
								+i-svg('world')
								select
									option Русский
									option English

						.d-block.d-md-none
							p.soc-title Мы в социальных сетях:
							+soc-list()

						a.footer-developer(href='http://osdart.com' target='_blank' title='OSD ART')
							span Разработано в 
							+i-svg('osd')

	.vertline-wrap
		.vertline.m-one
		.vertline.m-two
		.vertline.m-three