footer.footer
	.container-fluid
		.row
			.col-md-6
				.row
					.col-xl-6
						a.footer-brand(href='/')
							+i-svg('logo')
					
						.d-none.d-xl-block
							p.soc-title Мы в социальных сетях:
							+soc-list()

					.col-xl-6
						address.inbar-address 
							a(href='tel:+7(499)3800791') +7 (999) 000-00-00
							br
							a(href='mailto:in@iqdtech.ru') inerto@potreqy.com

						p.footer-copy
							|© 2017 copyright

			.col-md-6
				.row
					.col-xl-6
						form.form.form-subscribe
							input.form-control(type='email' placeholder='Ваш e-mail')
							button.btn.btn-block.btn-light(type='submit') Subscribe

					.col-xl-6
						.lng-swith
							.row-icon
								+i-svg('world')
								select
									option Русский
									option English

						.d-block.d-md-none
							p.soc-title Мы в социальных сетях:
							+soc-list()

						a.footer-developer(href='http://osdart.com' target='_blank' title='OSD ART')
							span Разработано в 
							+i-svg('osd')

block modals
	.modal.modal-video.fade#modalVideo(role='dialog' tabindex='1')
		.modal-dialog(role='document')
			button.close(data-dismiss='modal' aria-label='Close')
			.modal-content
				.modal-video-player#moadalVideoPlayer

	.modal.modal-image.fade#modalImage(role='dialog' tabindex='1')
		.modal-dialog(role='document')
			button.close(data-dismiss='modal' aria-label='Close')
			.modal-content
				img(src='' alt=' ')
				
	.modal.modal-feedback.fade#modalFeedback(role='dialog' tabindex='1')
		.modal-dialog(role='document')
			button.close(data-dismiss='modal' aria-label='Close')
				i.i.i-plus
			.modal-content
				.modal-body
					h5.modal-title Написать письмо
					p.modal-subtitle
						|Заполните форму ниже и мы ответим вам в ближайшее время