/*			Base
*/
::-moz-selection {
	background: rgba($color: $dark, $alpha: .5);
	color: $white;
}
::selection {
	background: rgba($color: $dark, $alpha: .5);
	color: $white;
}

* {
	outline: none !important;
}
address,
p,
ul,
li,
h1, h2, h3, h4, h5 ,h6 {
	margin: 0;
	padding: 0;
}
address {
	font: inherit;
}
ul,
li {
	list-style: none;
}
a {
	color: inherit;
}
a:active,
a:focus,
a:hover {
	color: inherit;
}
figure {
	margin: 0;
}
mark {
	background: transparent;
	color: inherit;
}
img {
	max-width: 100%;
}
textarea {
	resize: none;
}
label {
	margin: 0;
}

html {
	font-size: 10px;
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 320px;
	
	&.loading {
		overflow: hidden;
	}
}

.img-full {
	width: 100%;
	margin-bottom: 3rem;
	
	@include media-breakpoint-down (sm) {
		width: auto;
		max-width: calc(100% + 3rem);
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

.rel {
	position: relative;
	height: inherit;
	min-height: inherit;
}

.i {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}

.i-svg-more-circle {
	fill: $red;
	width: 3.8rem;
	height: 3.8rem;
}

.row-icon {
	display: flex;
	align-items: center;

	> * {
		line-height: 1.2;
	}
	> *:first-child {
		flex: none;
	}
	> * + * {
		margin-left: 1rem;
	}
}

.btn {
	height: 4.4rem;
	line-height: 4rem;
	padding: 0 3rem;
	display: inline-block;
	cursor: pointer;
	font-family: $font-family-sans-serif;
	position: relative;
	border-radius: .2rem;
	outline: none;	
	box-shadow: none;
	text-shadow: none;
	border-width: .2rem;
	color: $darkblue;
	transition: all .25s ease-in;
}

.row-btn {
	margin: 0 -1rem;

	.btn {
		display: inline-block;
		margin: 0 1rem 2rem;
		
		@include media-breakpoint-down (xs) {
			display: block;
		}
	}
}

/* form group */
.form-group {
	position: relative;
	margin-top: 1.5rem;
	
	&-check {
		line-height: 1.2;
		display: flex;
		align-items: center;
		position: relative;
		margin-top: 1.5rem;
		font-size: 1.3rem;
		
		> label {
			cursor: pointer;
		}
		> .checkbox {
			margin-right: 1.5rem;
		}
	}

	&.active-label {
		label {
			top: -1.5rem;
			font-size: 1.2rem;
			cursor: default;
		}
	}
	label {
		font-size: 1.6rem;
		line-height: 1;
		position: absolute;
		top: 1rem;
		left: 2rem;
		margin: 0;
		cursor: text;
		transition: .2s top ease-in, font .2s ease-in;
	}
}
/* END form-group */

select.form-control:not([size]):not([multiple]),
select.form-control > option,
select.form-control {
	cursor: pointer;
}
select.form-control:not([size]):not([multiple]),
select.form-control > option,
select.form-control,
.form-control {
	height: 4.4rem;
	font-family: $font-family-sans-serif;
	color: $darkblue;
	border: 1px solid transparent;
	border-bottom-color: $bluelightgray;
	background: transparent;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 0;
	
	&:focus {
		border-color: transparent;
		background: transparent;
		border-bottom-color: $red;
		-webkit-box-shadow: 0 1px 0 0 $red;
				box-shadow: 0 1px 0 0 $red;
	}
}

.selectbox {
	position: relative;
	
	&:before {
		content: '\203A';
		color: $red;
		transform: rotate(90deg);
		display: block;
		width: 4.4rem;
		height: 4.2rem;
		position: absolute;
		top: 0;
		right: 0;
		background: $white;
		font-size: 4rem;
		text-align: center;
		line-height: 1;
		z-index: 2;
		pointer-events: none;
	}

	select.form-control,
	select {
		position: relative;
		cursor: pointer;
	}
	option {
		padding: 5px 10px;
		
		&:checked, 
		&:hover {
			
		}
	}
}

.checkbox {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 2.8rem;
	height: 2.8rem;
	
	input {
		position: absolute;
		display: none;
		
		&:checked + label {
			background: $bluelightgray;
			
			&::before {
				opacity: 1;
			}
		}
	}
	label {
		cursor: pointer;
		position: relative;
		display: block;
		height: 100%;
		border: .2rem solid $bluelightgray;
		transition: background .25s ease-in;
		
		&::before {
			content: '';
			position: absolute;
			left: .8rem;
			top: .4rem;
			border-bottom: .2rem solid $bluegray;
			border-right: .2rem solid $bluegray;
			width: .8rem;
			height: 1.3rem;
			transform: rotate(45deg);
			opacity: 0;
			transition: opacity .25s ease-in;
		}
	}
}

.page,
.footer {
	filter: blur(.4rem);
	transition: filter 1s ease-in;
}
.loaded .page,
.loaded .footer {
	filter: blur(0);
}

.preloader {
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($white, .9);
	visibility: visible;
	opacity: 1;
	
	&.complete {
		animation: 1s fadeOut forwards;
		pointer-events: none;
	}

}

.slick-dots {
	display: block;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		margin: 0 11px;
	}
	button {
		font-size: 0;
		border: none;
		-webkit-box-shadow: none;
				box-shadow: none;
		padding: 0;
		height: 3px;
		width: 70px;
		-webkit-transition: background .2s ease-in-out;
		   -moz-transition: background .2s ease-in-out;
			-ms-transition: background .2s ease-in-out;
			 -o-transition: background .2s ease-in-out;
				transition: background .2s ease-in-out;
	}
	.slick-active button {
		
	}
}

.slick-arrow {
	width: 7rem;
	height: 7rem;
	font-size: 0;
	border: .1rem solid rgba($white, .5);
	border-radius: 15px;
	box-shadow: none;
	background: none no-repeat 0 0 rgba($white, .3);
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -3.5rem;
	opacity: 1;
	transition: all .25s ease-in;
	transform: none;
	cursor: pointer;
	
	&.slick-prev {
		left: 2.5rem;
	}
	&.slick-next {
		right: 2.5rem;
	}

	&:after,
	&:before {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: rgba($white, .78);
		opacity: 1;
		
		.i-svg {
			stroke: $red;
		}
	}
	
	.i-svg {
		fill: none;
		stroke: $graylight;
		stroke-width: .2rem;
		width: 1.6rem;
		height: 2.8rem;
		transition: stroke .25s ease-in;
	}
}

.slick-loading .slick-list {
	background-image: url('../img/ajax-loader.svg');
}

.page {
	position: relative;
	overflow: hidden;
}

/*			MAIN 			
*/
.main {
	
}

.head-title {
	font-size: 3.6rem;
	line-height: 1.2;
	color: $bluegray;
	font-family: $font-family-second;
	margin-bottom: 4rem;
	font-weight: 400;
	
	@include media-breakpoint-down (sm) {
		font-size: 3rem;
		margin-bottom: 3rem;
	}
}

.block {
	position: relative;
	padding: 8rem 0;
	background-color: $white;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	background-attachment: fixed;
	backface-visibility: hidden;
	
	@include media-breakpoint-down (sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	&-bg {
		@include absolute-full();
		overflow: hidden;
		
		img {
			@include img-cover();
		}
	}
}

.form {
	
	.text-after {
		color: $bluegrayhard;
		font-size: 1.2rem;
		line-height: 1.2;
	}
}

/* soc-list */
.soc-title {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}
.soc-list {
	display: block;
	font-size: 0;
	margin: 0 -1rem;
	
	li {
		display: inline-block;
		padding: 0 .8rem 1rem;
		vertical-align: middle;
	}
	a {
		display: block;
		font-size: 0;
		width: 4.6rem;
		height: 4.6rem;
		line-height: 4.6rem;
		text-align: center;
		border-radius: 50%;
		background: $bluegray;
		transition: background .25s ease-in-out;
		
		&:hover,
		&:focus {

			&.soc-vk {
				background: #2495d6;
			}
			&.soc-fb {
				background: #0c7aba;
			}
			&.soc-in {
				background: #bd46a1;
			}
			&.soc-yt {
				background: #e92f56;
			}
		}
	}
	.i-svg {
		fill: $white;
		width: 2rem;
		height: 2.2rem;
		transition: fill .25s ease-in-out;
	}
}
/* END soc-list */

.lng-swith {
	position: relative;

	.i-svg {
		stroke: $red;
		width: 2.2rem;
		height: 2.2rem;
	}
	select {
		color: inherit;
		position: relative;
		cursor: pointer;
		border: none;
		background: none;
	}
	option {
		background: $bluegray;
		color: $white;
		border: none;
		
		&:checked, 
		&:hover {
			
		}
	}
}

@keyframes spin { 
	to {transform: rotate(360deg)}
}
@keyframes fadeTop {
	to {
		transform: translateY(-100%);
	}
}
@keyframes fadeIn {
	to {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fadeOut {
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}