/*			FOOTER 			
*/
.page {
	@include media-breakpoint-up (xl) {
		margin-bottom: 39rem;
		z-index: 2;
	}
}

.footer {
	overflow: hidden;
	background: url('') no-repeat 50% 0 #393e4d;
	background-size: cover;
	color: $white;
	padding: 5rem 0 0;
	position: relative;
	
	@include media-breakpoint-up (xl) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 39rem;
	}
	
	.stages-decor {
		background-color: $white;
		&-top {
			top: 0;
			&:before {
				top: 0;
			}
		}
	}
	
	&-brand {
		display: inline-block;
		margin-bottom: 2.5rem;

		.i-svg {
			fill: $white;
			width: 17.5rem;
			height: 6rem;
		}
	}

	[class^="col-"] {
		
		@include media-breakpoint-down (lg) {
			margin-bottom: 5rem;
		}
		@include media-breakpoint-down (sm) {
			margin-bottom: 2rem;
		}
		@include media-breakpoint-up (md) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		@include media-breakpoint-up (lg) {
			padding-left: 4rem;
			padding-right: 4rem;
		}
		@include media-breakpoint-up (xl) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		@include media-breakpoint-up (xxl) {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}

	&-copy {
		font-size: 1.3rem;
		color: #9597A1;
		line-height: 1.2;
	}

	.soc-title {
		margin-top: 5rem;
	}
	.soc-list {
		
	}

	&-nav {
		margin-bottom: 5rem;
		
		ul {
			
		}
		li {
			margin-bottom: 1.5rem;
		}
		a {
			font-size: 1.4rem;
			text-decoration: underline;
		}
	}

	.icon-blog-link {
		font-size: 1.8rem;
		font-weight: 600;
		
		.i-svg {
			width: 6rem;
			height: 6rem;
		}
	}

	&-developer {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		text-decoration: none;
		
		@include media-breakpoint-down (lg) {
			margin-top: 6rem;
		}
		@include media-breakpoint-down (sm) {
			margin-top: 3rem;
		}
		
		&:hover,
		&:focus {
			text-decoration: none;

			.i-svg {
				fill: #b41c33;
			}
		}

		span {
			cursor: inherit;
			display: inline-block;
			margin-right: .7rem;
		}
		
		.i-svg {
			fill: #9597a1;
			width: 8rem;
			height: 1.5rem;
			transition: fill .2s ease-in;
		}
	}
	
	.form-subscribe {
		max-width: 30rem;
		
		@include media-breakpoint-down (sm) {
			margin-bottom: 2rem;
		}
	}

	.more-link {
		font-size: 1.4rem;
		text-transform: uppercase;
		font-weight: 500;
	}

	.form-control {
		color: inherit;
		border-bottom-color: inherit;
		margin-bottom: 2rem;
		
		&::placeholder {
			color: inherit;
		}
		&:focus {
			border-bottom-color: $red;
		}
	}

	.lng-swith {
		margin-bottom: 3.5rem;
	}
}