@import 'variables';
@import 'vendor';
@import 'mixin';
@import 'font';
//@import 'svg-sprite';

::-moz-selection {
	background: rgba(21,21,33,.5);
	color: #fff;
}
::selection {
	background: rgba(21,21,33,.5);
	color: #fff;
}

* {
	outline: none !important;
}
address,
p,
ul,
li,
h1, h2, h3, h4, h5 ,h6 {
	margin: 0;
	padding: 0;
}
address {
	font: inherit;
}
ul,
li {
	list-style: none;
}
a {
	color: inherit;
}
a:active,
a:focus,
a:hover {
	color: inherit;
}
mark {
	background: transparent;
	color: inherit;
}
img {
	max-width: 100%;
}
textarea {
	resize: none;
}

html {
	font-size: 10px;
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 320px;
	
	&.loading {
		overflow: hidden;
	}
}


.rel {
	position: relative;
	height: inherit;
	min-height: inherit;
}

.i {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}

.i-svg-more-circle {
	fill: $red;
	width: 3.8rem;
	height: 3.8rem;
}

.row-icon {
	display: flex;
	align-items: center;

	> * {
		line-height: 1.2;
	}
	> *:first-child {
		flex: none;
	}
	> * + * {
		margin-left: 1rem;
	}
}

.btn {
	height: 4.4rem;
	display: inline-block;
	cursor: pointer;
	font-family: $font-family-sans-serif;
	position: relative;
	-webkit-border-radius: 2;
			border-radius: 2;
	outline: none;	
	-webkit-box-shadow: none;
			box-shadow: none;
	border-width: .2rem;
	color: #2B2E3F;

	&.focus, 
	&:focus {
		-webkit-box-shadow: none;
			box-shadow: none;
	}
}

select.form-control:not([size]):not([multiple]),
select.form-control > option,
select.form-control {
	cursor: pointer;
}
select.form-control:not([size]):not([multiple]),
select.form-control > option,
select.form-control,
.form-control {
	height: 4.4rem;
	font-family: $font-family-sans-serif;
	color: #2b2e3f;
	border: 1px solid transparent;
	border-bottom-color: #818181;
	background: transparent;
	padding-left: 0;
	border-radius: 0;
	
	&:focus {
		border-color: transparent;
		background: transparent;
		border-bottom-color: $red;
		-webkit-box-shadow: 0 1px 0 0 $red;
				box-shadow: 0 1px 0 0 $red;
	}
}

.selectbox {
	position: relative;
	
	&:before {
		content: '\203A';
		color: $red;
		transform: rotate(90deg);
		display: block;
		width: 4.4rem;
		height: 4.2rem;
		position: absolute;
		top: 0;
		right: 0;
		background: $white;
		font-size: 4rem;
		text-align: center;
		line-height: 1;
		z-index: 2;
		pointer-events: none;
	}

	select.form-control,
	select {
		position: relative;
		cursor: pointer;
	}
	option {
		padding: 5px 10px;
		
		&:checked, 
		&:hover {
			
		}
	}
}

.preloader {
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($white, .95);
	visibility: visible;
	opacity: 1;
	
	&.complete {
		animation: .3s fadeOut forwards;
		pointer-events: none;
	}

	&-clock {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 6rem;
		height: 6rem;
		border: .2rem solid $red;
		background: $white;
		border-radius: 100%;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -.05rem 0 0 -.2rem;
			border-bottom: .2rem solid $red;
			transform-origin: .2rem center;
		}
		&:before {
			width: 30%;
			animation: spin 8s linear infinite;
		}
		&:after {
			width: 40%;
			animation: spin .8s linear infinite;
		}
	}
}

.slick-dots {
	display: block;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		margin: 0 11px;
	}
	button {
		font-size: 0;
		border: none;
		-webkit-box-shadow: none;
				box-shadow: none;
		padding: 0;
		height: 3px;
		width: 70px;
		-webkit-transition: background .2s ease-in-out;
		   -moz-transition: background .2s ease-in-out;
			-ms-transition: background .2s ease-in-out;
			 -o-transition: background .2s ease-in-out;
				transition: background .2s ease-in-out;
	}
	.slick-active button {
		
	}
}

.slick-arrow {
	width: 7rem;
	height: 7rem;
	font-size: 0;
	border: .1rem solid rgba($white, .5);
	border-radius: 50%;
	box-shadow: none;
	background: none no-repeat 0 0 rgba($white, .11);
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -3.5rem;
	opacity: 1;
	transition: all .25s ease-in;
	transform: none;
	cursor: pointer;
	
	&.slick-prev {
		left: 2.5rem;
	}
	&.slick-next {
		right: 2.5rem;
	}

	&:after,
	&:before {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: rgba($white, .78);
		opacity: 1;
		
		.i-svg {
			stroke: $red;
		}
	}
	
	.i-svg {
		fill: none;
		stroke: #868789;
		stroke-width: .2rem;
		width: 1.6rem;
		height: 2.8rem;
		transition: stroke .25s ease-in;
	}
}

.slick-loading .slick-list {
	background-image: url('../img/ajax-loader.svg');
}


.close {
	text-shadow: none;
	
	.i-plus {
		transform: rotateZ(45deg);
	}
}
.modal-dialog {
	
}
.modal-dialog > .close {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 1;
}
.modal-content {
	border: none;
	-webkit-border-radius: 0;
			border-radius: 0;
}
.modal-header {
	border: none;
}
.modal-title {
	
}


.page {
	position: relative;
	overflow: hidden;
}


.vertline-wrap {

	@include media-breakpoint-down (sm) {
		display: none;
	}
}
.vertline {
	width: .1rem;
	min-height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	background: rgba(#e7eaec, .11);
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -10rem;
		width: .12rem;
		height: 10rem;
		background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		animation: vertline 10s linear infinite;
	}
	
	&.m-one {
		left: 25%;
		
		&:before {
			animation-duration: 13s;
			animation-delay: 3s;
		}

		@include media-breakpoint-down (lg) {
			left: 15%;
		}
	}
	&.m-two {
		left: 50%;
		
		&:before {
			animation-duration: 30s;
			animation-delay: 0s;
		}
	}
	&.m-three {
		left: 75%;
		
		&:before {
			animation-duration: 20s;
			animation-delay: 5s;
		}

		@include media-breakpoint-down (lg) {
			left: 85%;
		}
	}
}

@keyframes vertline { 
	100% {top: calc(100% + 80px)}
}

/*			MAIN 			
*/
.main {
	
}

.head-title {
	font-size: 3.6rem;
	line-height: 1.2;
	color: $bluegray;
	font-family: $font-family-second;
	margin-bottom: 4rem;
	font-weight: 400;
	
	@include media-breakpoint-down (sm) {
		font-size: 3rem;
		margin-bottom: 3rem;
	}
}
.head-subtitle {
	
}

.more-link {
	display: inline-block;
	text-decoration: none;
	font-size: 1.4rem;
	
	&:hover,
	&:focus {
		text-decoration: none;
		
		.i-svg {
			transform: rotateZ(360deg);

			use {
				transform: scale(1.5) translateX(-.6rem) translateY(-.7rem);
			}
		}
	}
	.i-svg {
		background: $red;
		border-radius: 100%;
		width: 4rem;
		height: 4rem;
		overflow: hidden;
		transition: transform .3s ease-in .2s;
		backface-visibility: hidden;
		
		use {
			transition: transform .2s ease-in;
		}
	}
	span {
		margin-left: 1rem;
		padding-bottom: .3rem;
		border-bottom: .2rem solid $red;
	}
}

.block {
	position: relative;
	padding: 8rem 0;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	background-attachment: fixed;
	backface-visibility: hidden;
	
	@include media-breakpoint-down (sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	&-bg {
		@include absolute-full();
		overflow: hidden;
		
		img {
			@include img-cover();
		}
	}
}


.links-list {

	li {
		margin-bottom: 2.5rem;
		
		a {
			font-size: 1.4rem;
			text-decoration: none;
			color: rgba($white, .55);
			transition: color .25s ease-in;
			
			&:hover,
			&:focus {
				color: $white;
				
				span {
					&:after {
						width: 100%;
					}
				}
			}

			span {
				position: relative;
				
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -.2rem;
					height: .1rem;
					background: $white;
					width: 0;
					transition: width .3s ease-in-out;
				}	
			}
		}
		
		.i-svg {
			width: 2.6rem;
			height: 2.2rem;
			fill: none;
			stroke: $red;
		}
	}
}

.form {
	
	.text-after {
		margin-top: 4rem;
		color: #2B2E3F;
		font-size: 1.2rem;
		line-height: 1.2;
		text-align: right;
		
		@include media-breakpoint-down (md) {
			text-align: center;
		}
	}
}

/* soc-list */
.soc-title {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}
.soc-list {
	display: block;
	font-size: 0;
	margin: 0 -1rem;
	
	li {
		display: inline-block;
		padding: 0 .8rem 1rem;
		vertical-align: middle;
	}
	a {
		display: block;
		font-size: 0;
		width: 4.6rem;
		height: 4.6rem;
		line-height: 4.6rem;
		text-align: center;
		border-radius: 50%;
		background: #63697C;
		transition: background .25s ease-in-out;
		
		&:hover,
		&:focus {

			&.soc-vk {
				background: #2495d6;
			}
			&.soc-fb {
				background: #0c7aba;
			}
			&.soc-in {
				background: #bd46a1;
			}
			&.soc-yt {
				background: #e92f56;
			}
			
			.i-svg {
				fill: $white;
			}
		}
	}
	.i-svg {
		fill: #393e4d;
		width: 2rem;
		height: 2.2rem;
		transition: fill .25s ease-in-out;
	}
}
/* END soc-list */

.lng-swith {
	position: relative;

	.i-svg {
		stroke: $red;
		width: 2.2rem;
		height: 2.2rem;
	}
	select {
		color: inherit;
		position: relative;
		cursor: pointer;
		border: none;
		background: none;
	}
	option {
		background: $bluegray;
		color: $white;
		border: none;
		
		&:checked, 
		&:hover {
			
		}
	}
}

.icon-blog-link {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 2rem;
	
	&:hover,
	&:focus {
		text-decoration: none;
	}
	
	.i-svg {
		width: 4rem;
		height: 4rem;
		stroke: #CC2132;
		fill: none;
	}
}

.inbar-address {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	
	a {
		display: inline-block;
		margin-bottom: 1rem;
	}
}

.stages-decor {
	position: absolute;
	background-color: inherit;
	width: 25%;
	
	@include media-breakpoint-down (sm) {
		display: none;
	}
	@include media-breakpoint-down (lg) {
		width: 15%;
	}

	&:after,
	&:before {
		content: '';
		position: absolute;
		background-color: inherit;
		width: 100%;
		
		@include media-breakpoint-down (lg) {
			width: 234%;
		}
	}
	&:before {
		height: .4rem;
		left: 100%;
	}
	&:after {
		height: 1.2rem;
		left: 200%;
		
		@include media-breakpoint-down (lg) {
			left: 334%;
		}
	}
	
	&-bottom,
	&-top {
		height: 1.2rem;
		left: 0;
	}
	&-top {
		top: -1.2rem;
		
		&:before {
			top: .8rem;
		}
		&:after {
			top: 0;
		}
	}
	&-bottom {
		bottom: -1.2rem;
		
		&:before {
			bottom: .8rem;
		}
		&:after {
			bottom: 0;
		}
	}
}

@keyframes spin { 
	to {transform: rotate(360deg)}
}
@keyframes fadeTop {
	to {
		transform: translateY(-100%);
	}
}
@keyframes fadeIn {
	to {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fadeOut {
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


@import 'header';
@import 'page/home';
@import 'footer';
