@mixin font-face ($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), 
			url('#{$file-path}.woff') format('woff'), 
			url('#{$file-path}.ttf') format('truetype');
	}
}

@mixin absolute-full () {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin img-cover () {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-width: 999%;
	max-height: 999%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}