/*			Variables
*/
$darkblue: #1b3142;
$darkblueeasy: #313c55;
$red: #c90cb0;
$bluegray: #414b53;
$bluegrayhard: #1f2730;
$dark: $bluegray;
$white: #fff;
$bluelightgray: rgb(117, 146, 167);
$graylight: #e5e5e5;
$blue: $bluegray;

/* Bootstrap */
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-second: 'Neo Sans Pro', 'Open Sans', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.5;
$body-color: $dark;
$body-bg: $white;
$form-group-margin-bottom: 3rem;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1500px
) !default;

$container-max-widths: (
	//sm: 100%,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1440px
) !default;